.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}