.about-ems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: #475569;
}

.ems-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


@media (max-width: 768px) {
  .about-ems {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .ems-img {
    order: 2; /* image comes after text */
  }
}
